body {
	background: #f8f8f8;
	padding: 10px 20px 20px;
}

.grid > div {
	background: white;
	background: rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	width: 240px;
	height: 200px;
	float: left;
	margin-right: 20px;
	padding: 0 20px 20px;
}

.grid .dl-horizontal dt { width: 80px; }
.grid .dl-horizontal dd {margin-left: 90px}